.ig__link {
    color: #000;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#instagram-logo {
    font-size: 24px;
    margin-right: 10px;
    /* Adjust the size as needed */
}

.contact__container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20vh;
}

.list {
    margin: 0em;
    padding: 0em;
    flex: 4;
}

.text {
    flex: 4;
}

/* Media query for small screens */
@media (max-width: 730px) {
    .contact__container {
        flex-flow: column;
        align-items: center;
        gap: 2em;
        margin-top: 10vh;
    }

    .list,
    .text {
        flex: 1;
    }
}