.photo-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
}

.photo__figure {
    width: fit-content;
    height: fit-content;
    margin: 0;
}

.photo__img--horizontal {
    width: 540px;
    height: 360px;
}

.photo__img--vertical {
    width: 350px;
    height: 437px;
}